body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

div.main-content {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	clear: both;
	padding-bottom: 100px;
}

/*INTRO WRAP*/

div.intro-wrap {
	float: left;
	width: 27%;
	margin-right: 3%;
}

p.intro {
	font-size: 1.1em;
	line-height: 1.4em;
}

p span {
	padding: 3px;
}

p.intro span {
	cursor: pointer;
}

span.us {
	background-color: #ddd;
}

/*CHART WRAP*/

div.chart {
	position: relative;
	float: left;
	width: 70%;
}

p.country {
	text-align: center;
	font-size: 1.3em;
	position: absolute;
	left: 10%;
}

/*SCATTERPLOT STYLES*/
.axis path,
.axis line {
	fill: none;
	stroke: #ddd;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.axis text {
    font-size: 12px;
}

.y.axis line, .y.axis path {
    stroke: #ddd;
}

.dot[data-site="Facebook"] {
	fill: rgb(51,153,255);
}

.dot[data-site="Google"] {
	fill: rgb(255,153,102);
}

.dot.active {
    stroke: #000;
    stroke-width: 2;
}

/*TOOLTIP STYLES*/
div.tooltip-wrap {
	display: none;
	z-index: 10;
    position: absolute;
    pointer-events: none;
  	background-color: #fff;
  	border: 2px solid #ccc;
  	padding: 10px;
}

div.tooltip-wrap p {
	margin: 0 0 5px 0;
	font-size: 0.9em;
}

p.tt-date {
	text-transform: uppercase;
	color: #999;
	font-size: 0.8em !important;
}

p.tt-country {
	font-size: 1.5em;
}

div.tooltip-wrap p.pct {
	margin: 15px 0 5px 0;
}

span.Facebook {
	background-color: rgba(51,153,255,0.3);
}

span.Google {
	background-color: rgba(255,153,102,0.5);
}

/*MEDIA QUERIES*/
@media (max-width: 767px) {
	div.intro-wrap, div.chart {
		width: 100%;
		float: none;
		margin: 0;
	}
}