body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

div.main-content {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

p.intro {
	font-size: 1.1em;
	line-height: 1.4em;
}

p span {
	padding: 3px;
}

span.us {
	background-color: #ddd;
	cursor: pointer;
}

div.chart {
	position: relative;
	margin-bottom: 100px;
}

p.country {
	text-align: center;
	font-size: 1.3em;
	position: absolute;
	left: 10%;
}

/*SCATTER STYLES*/
.axis path,
.axis line {
	fill: none;
	stroke: #ddd;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.axis text {
    font-size: 13px;
}

.y.axis line, .y.axis path {
    stroke: #ddd;
}

.dot {
    fill: #bfbfbf;
}

.dot.fb {
	fill: rgb(51,153,255);
}

.dot.gg {
	fill: rgb(255,153,102);
}

.dot.active {
    stroke: #000;
    stroke-width: 2;
}

/*TOOLTIP STYLES*/
div.tooltip-wrap {
	display: none;
	z-index: 10;
    position: absolute;
    pointer-events: none;
  	background-color: #fff;
  	border: 2px solid #ccc;
  	padding: 10px;
}

div.tooltip-wrap p {
	margin: 0 0 5px 0;
	font-size: 0.9em;
}

p.tt-date {
	text-transform: uppercase;
	color: #999;
	font-size: 0.8em !important;
}

p.tt-country {
	font-size: 1.5em;
}

div.tooltip-wrap p.pct {
	margin: 15px 0 5px 0;
}

span.Facebook {
	background-color: rgba(51,153,255,0.3);
}

span.Google {
	background-color: rgba(255,153,102,0.5);
}