p.country {
	text-align: center;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 1.3em;
	position: absolute;
	left: 10%;
}

div.chart {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

/*SCATTER STYLES*/
.axis path,
.axis line {
	fill: none;
	stroke: #ddd;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.axis text {
    font-size: 13px;
    font-family: "Helvetica", "Arial", sans-serif;
}

.y.axis line, .y.axis path {
    stroke: #ddd;
}

.dot {
    fill: #bfbfbf;
}

.dot.fb {
	fill: #3399FF;
}

.dot.gg {
	fill: #FF9966;
}

.dot.active {
    stroke: #000;
    stroke-width: 2;
}