/*@import '@fontsource/vollkorn';
@import '@fontsource/fira-sans-extra-condensed';
@import '@fontsource/fira-sans';
@import '@fontsource/fira-sans/700.css';
@import '@fontsource/fira-sans/700-italic.css';
@import '@fontsource/fira-sans/400-italic.css';

*/
/* vollkorn-latin-ext-400-normal */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/sandbox/pavement-1933-2023/fonts/vollkorn-latin-ext-400-normal.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/vollkorn-latin-ext-400-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* vollkorn-latin-400-normal */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/sandbox/pavement-1933-2023/fonts/vollkorn-latin-400-normal.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/vollkorn-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* fira-sans-extra-condensed-latin-ext-400-normal */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/sandbox/pavement-1933-2023/fonts/fira-sans-extra-condensed-latin-ext-400-normal.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/fira-sans-extra-condensed-latin-ext-400-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* fira-sans-extra-condensed-latin-400-normal */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/sandbox/pavement-1933-2023/fonts/fira-sans-extra-condensed-latin-400-normal.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/fira-sans-extra-condensed-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* fira-sans-latin-ext-400-italic */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-ext-400-italic.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-ext-400-italic.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* fira-sans-latin-400-italic */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-400-italic.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-400-italic.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* fira-sans-latin-ext-400-normal */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-ext-400-normal.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-ext-400-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* fira-sans-latin-400-normal */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-400-normal.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* fira-sans-latin-ext-700-italic */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-ext-700-italic.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-ext-700-italic.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* fira-sans-latin-700-italic */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-700-italic.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-700-italic.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


/* fira-sans-latin-ext-700-normal */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-ext-700-normal.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-ext-700-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* fira-sans-latin-700-normal */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-700-normal.woff2) format('woff2'), url(/sandbox/pavement-1933-2023/fonts/fira-sans-latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}



:root {
	--font-body: 'Vollkorn', Georgia, serif;
	--font-condensed: 'Fira Sans Extra Condensed', sans-serif;
	--font-sans: 'Fira Sans', sans-serif;

	--widest: 1120px;
	--body-width: 480px;
	--malk-width: 300px;
	--malk-width-mobile:200px;

	--d2020s-light: #ffe000;
	--d2010s-light: #93caff;
	--d2020s: #ffce00;
	--d2010s: #6db8ff;
	--d1990s: #38ff8d;
	--d2020s-d2010s: var(--d1990s);


	--bg: #edeee7;
	--color-text: #b63124;

}

html,body {
	/*background-image:url('images/texture.png');*/
	/*background-image:url('/sandbox/pavement-1933-2023/images/texture.png');*/
	/*background-repeat:repeat;*/
	background-color:var(--bg);
}

a:-webkit-any-link {
	color:var(--color-text);
}

a:-webkit-any-link:hover {
	background-color:white;
}

.wrap {
	margin-top: 50px;
	margin-bottom: 50px;
}

p.body {
	font-family: var(--font-body);
	font-size:20px;
	line-height:28px;
	width:100%;
	max-width: var(--body-width);
	margin-left: auto;
	margin-right: auto;

	/*outline:1px solid;*/
}

p.source {
	font-family: var(--font-sans);
	font-size:14px;
	margin: 5px auto 0 auto;
	max-width: var(--body-width);
}

.border {
	position:absolute;
}

.border.b-top, .border.b-bottom {
	background-image:url('images/border-h.png');
	background-repeat: repeat-x;
	background-size:contain;
}
[data-mode="prod"] .border.b-top, [data-mode="prod"] .border.b-bottom { background-image:url('/sandbox/pavement-1933-2023/images/border-h.png');}

.border.b-left, .border.b-right {
	background-image:url('images/border-v.png');
	background-repeat: repeat-y;
	background-size:contain;
}
[data-mode="prod"] .border.b-left, [data-mode="prod"] .border.b-right { background-image:url('/sandbox/pavement-1933-2023/images/border-v.png');}

.border.b-top {
	top:0;
	left:0;
	width:100%;
	height:8px;
}

.border.b-bottom {
	bottom:0;
	left:0;
	width:100%;
	height:8px;
}

.border.b-left {
	top:0;
	left:0;
	width:8px;
	height:100%;
}

.border.b-right {
	top:0;
	right:0;
	width:8px;
	height:100%;
}

section#methodology {
	margin: 30px auto 50px auto;
	max-width: var(--body-width);
	width:100%;
	padding-top: 1em;
	position:relative;
}

section#methodology:before {
	content:"";
	position:absolute;
	width:100px;
	border-top:1px solid #999;
	top:0;
	left:0;
}

section#methodology p {
	font-family: var(--font-sans);
	font-size:16px;
	line-height:18px;
	margin-top: 0;
}

.tracklist .track p {
	font-family: var(--font-condensed);
}

.tracklist .track.separator p {
	color:var(--color-text);
}

@media (max-width: 480px) {
	.wrap {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	p.body {
		font-size:18px;
		line-height:26px;
	}

	p.source {
		font-size:12px;
	}
}


