
body {
  font-size: 14px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
.header {
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;
}

h3 {
	font-size: 2em;
	margin-left: 39px;
	line-height: 0.3em;
}

.credit {
	font-size: 11px;

}
.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
.axis text {
	font-size: 12px;
	fill: #666;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: #fff;
  border: 2px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
}

.legend li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
	font-size: 16px;
}

.legend span {
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-right: 7px;
}

.legend span.female {
	background-color: rgba(51,102,255,.8);
}
.legend span.male {
	background-color: rgba(92,230,92,.8);
}
.legend span.main-role {
	width: 15px;
	height: 15px;
	border: 2px solid rgba(51,51,153,.8);
	margin-left: 1px;
}